* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Spectral', serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: white;
    color: white;
}

.cabecera{
    width: 100%;
    height: 7rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 2rem;
    background-color: #A0D468;
}

.cabecera a img{
    width: 6.8rem;
    height: 6.8rem;
}

.menu-toggle {
    display: none;
}

.nav{
    width: 50%;
    height: 100%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.nav li {
    flex: 1;
    height: 100%;
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    line-height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
    padding: 0 0.5rem;
}

.nav li a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.nav li:hover {
    background-color: white;
    border-radius: 0.3rem;
}

.nav li:hover > a {
    color: #A0D468;
}

.banner {
    position: relative;
    width: 100%;
    height: 40rem;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner p {
    width: 60%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.servicios{
    width: 100%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.servicio{
    width: 20%;
    height: 25rem;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0.3rem;
    transition: transform 0.3s;
}

.servicio:hover{
    transform: scale(1.05);
}

.servicio a img{
    width: 60%;
    height: 12rem;
    margin: 0.5rem 0;
    border-radius: 0.3rem;
    transition: filter 0.3s;
}

.servicio img:hover{
    filter: brightness(80%);
}

.servicio a{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.texto_services{
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

.texto_services a h1{
    width: 100%;
    line-height: 2rem;
    font-weight: bold;
    text-align: center;
    color: black;
    border-radius: 0.3rem;
}

.texto_services a p{
    width: 100%;
    height: auto;
    padding: 0 2rem;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    color: black;
    border-radius: 0.3rem;
}

.destacados{
    width: 100%;
    height: 40rem;
    margin-bottom: 1rem;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.destacados p{
    width: 30%;
    background-color: #A0D468;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 0.3rem;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 80%;
    height: 30rem;
    margin: 0 auto;
    overflow: hidden;
    border: 0.2rem solid #ddd;
    border-radius: 1rem;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
}

.carousel-inner a {
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
    display: flex;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex: 0 0 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
}

.prev {
    left: 1rem;
}

.next {
    right: 1rem;
}

.dots {
    text-align: center;
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

.dot {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0.5rem;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #A0D468;
}

.redes{
    width: 100%;
    height: 30rem;
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

.text_redes{
    width: 100%;
    height: 12rem;
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #A0D468;
}

.text_redes h1{
    width: 30%;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 0.3rem;
}

.text_redes p{
    width: 30%;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 0.3rem;
}

.img_redes{
    width: 100%;
    height: 12rem;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.red{
    width: 18%;
    height: 12rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    transition: transform 0.3s, font-size 0.3s;
    overflow: hidden;
    box-sizing: border-box;
}

.red img{
    width: 7rem;
    height: 7rem;
    transition: transform 0.3s;
}

.red p{
    font-size: 1.5rem;
    transition: font-size 0.3s;
}

.red:hover {
    transform: scale(1.03);
}

.red:hover img {
    transform: scale(1.03);
}

.red:hover p {
    font-size: 1.55rem;
}

#w{
    color: green;
}

#f{
    color: blue;
}

#i{
    color: palevioletred;
}

#y{
    color: red;
}

.botones_flotantes{
    position: fixed;
    bottom: -4rem;
    right: 2rem;
    width: 4.5rem;
    height: 11rem;
    display: inline-flex;
    flex-flow: column wrap;
}

.botones_flotantes a{
    width: 4rem;
    height: 4rem;
    margin: 0.5rem 0;
    border-radius: 50%;
    background-color: #A0D468;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.botones_flotantes a img{
    width: 3rem;
    height: 3rem;
}

.botones_flotantes a:hover{
    width: 4.5rem;
    height: 4.5rem;
}

.botones_flotantes a img:hover{
    width: 3.5rem;
    height: 3.5rem;
}

.pie{
    width: 100%;
    height: 25rem;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: start;
    background-color: #717171;
    padding: 1rem 0;
}

.pie img{
    width: 12rem;
    height: 12rem;
}

.texto_pie{
    width: 18%;
    height: 100%;
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
}

.info{
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    margin: 1rem 0;
}

.info img{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.copy{
    width: 100%;
    height: 2rem;
    background-color: #717171;
    text-align: center;
}

@media (max-width: 767px) {
    .menu-toggle {
        display: block;
    }
    
    .nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 50vw; 
        height: 100vh;
        background-color: #A0D468;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .nav.nav-open {
        transform: translateX(0);
    }
    
    .nav li {
        font-size: 1.2rem;
        line-height: 3rem;
        position: relative;
        list-style: none;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        margin: 0;
    }
    
    .nav li a {
        font-size: 1.2rem;
        line-height: 3rem;
        position: relative;
        list-style: none;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        margin: 0;
    }
    
    .servicios {
        flex-direction: column;
        align-items: center;
    }
    
    .servicio {
        width: 68%; 
        margin: 0.85rem 0;
        height: auto;
        padding: 0.85rem; 
    }
    
    .servicio a img {
        width: 68%; 
        height: auto;
    }
    
    .texto_services h1,
    .texto_services p {
        font-size: 0.85rem;
    }
    
    .texto_services a {
        font-size: 0.85rem;
    }
    
    .destacados p {
        font-size: 1.5rem;
    }
    
    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    
    .text_redes {
        text-align: center;
        height: 7rem;
        width: 100%;
    }
    
    .text_redes h1,
    .text_redes p {
        font-size: 1.5rem;
        width: 100%;
        height: 3rem;
        line-height: 3rem;
        margin: 0;
    }
    
    .img_redes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        height: auto;
    }
    
    .red {
        width: auto;
        height: auto;
        flex: 1 1 45%;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .red img {
        width: 5rem;
        height: 5rem;
    }
    
    .red p {
        font-size: 1.2rem;
        margin: 0;
    }
    
    .red:hover {
        transform: none;
    }
    
    .red:hover img {
        transform: none;
    }
    
    .red:hover p {
        font-size: 1.2rem;
    }

    .pie {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;
        height: auto;
    }
    
    .pie img {
        width: 8rem;
        height: 8rem;
    }
    
    .mapa {
        width: 100%;
        height: auto;
        max-width: 500px;
        margin: 1rem 0;
    }
    
    .texto_pie {
        width: 100%;
        max-width: 500px;
        margin: 1rem 0;
        text-align: center;
        align-items: center;
    }
    
    .info {
        width: auto;
        margin: 0.5rem 0;
    }
    
    .info img {
        width: 2rem;
        height: 2rem;
    }
    
    .copy {
        width: 100%;
        height: 2rem;
        background-color: #717171;
        text-align: center;
        padding: 0.5rem 0;
    }
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out;
        z-index: 900;
    }
    
    .overlay.active {
        opacity: 1;
    }
    
}